body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.header-page {
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  background-color: #fefefe;
}

.item-main-menu {
  display: flex;
  gap: 28px;
}

.logo {
  margin-right: auto;
}

.nav {
  margin-right: 30px;
}

.item-menu {
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  padding: 28px 0;
  display: block;
}

.item-menu:hover,
.item-menu:focus {
  color: #bbf330;
  font-weight: 700;
  text-decoration-line: underline;
}
.button-click {
  background-color: #bbf330;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #bbf330;
  width: 98px;
  height: 32px;
}

/** --------------section1 --------------- */

.main-section {
  padding: 14px 0;
}
.made-img {
  border-radius: 580px;
  border: 26px solid #ffe550;
  width: 580px;
  height: 580px;
}

.item-info {
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enjoy-food {
  font-size: 48px;
  line-height: 120%;
  color: #2c2c2c;
  margin-bottom: 28px;
  width: 502px;
}
.text-info {
  font-size: 16px;
  line-height: 150%;
  color: #2c2c2c;
  margin-bottom: 40px;
  width: 511px;
}

.button-one {
  background-color: #bbf330;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #bbf330;
  min-width: 98px;
  height: 32px;
  display: block;
}

/** --------------section2 --------------- */

.section-info {
  background-image: url(../images/fonyellow.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 177px;
  padding-bottom: 43px;
  margin-top: -137px;
  background-size: 100% 100%;
}

.img-subscribe-wrap {
  width: 550px;
  height: 550px;
  border-radius: 550px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  padding: 24px;
}

.subscrible-elipse {
  width: 502px;
  height: 502px;
  border-radius: 502px;
  background: #fefefe;
  position: relative;
}

.img-apple {
  position: absolute;
  margin-top: -574px;
  margin-left: 58px;
}

.subscribe-container {
  display: flex;
  gap: 90px;
  align-items: center;
}
.content-text {
  display: flex;
  gap: 67px;
  margin-bottom: 13px;
}

.subscrible-icon-wrap {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.info-subscribe {
  font-size: 42px;
  line-height: 120%;
  color: #2c2c2c;
  width: 526px;
  margin-bottom: 20px;
}
.info-delivery {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #2c2c2c;
  margin-bottom: 40px;
}
.info-delivery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #2c2c2c;
  margin-bottom: 16px;
}

.text-delivery {
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
  max-width: 253px;
}
.button-info {
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  cursor: pointer;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 22px 10px 22px;
}

/** --------------section3--------------- */

.favorites-menu {
  font-size: 42px;
  line-height: 49px;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 20px;
}
.favorites-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 40px;
}

.pizza-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  justify-content: center;
}
.gamburger-circle {
  width: 395px;
  height: 397px;
  border-radius: 197.5px;
  border: 16px solid var(--yellow-main, #ffe550);
  background: var(--white, #fefefe);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamburger-photo {
}
.circle-yellow {
  display: block;
}
.li-pizza {
  width: calc((100% - 16px) / 3);
}
.favorites-container {
  background-color: #fefefe;
}
.favorites {
  padding-top: 81px;
  padding-bottom: 100px;
}

/** --------------section4--------------- */
.section-feedback {
  background-image: url(../images/rectangle.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 200px;
}
.item-feedback {
  font-size: 42px;
  line-height: 49px;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.feedback-info {
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
  margin-bottom: 32px;
}

.container-feedback-main {
}

.feedback-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
  width: 473px;
  margin-bottom: 40px;
}
.feedback-people {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
.people-info {
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
.container-man {
  width: 501px;
  background-color: #fefefe;
  border-radius: 5%;
  padding: 14px 14px 16px;
}

.header-svg-icon {
  fill: #ffe550;
}

.people-men {
  display: flex;
  gap: 16px;
}

.text-cool {
  margin-bottom: auto;
  margin-top: auto;
}

.item-container-feedback {
  display: flex;
  gap: 139px;
}
.icon-star-list {
  display: flex;
  gap: 4px;
  margin-bottom: 28px;
}

.feedback-item {
}

/** --------------section5--------------- */
.spesial-section {
  padding-bottom: 100px;
  padding-top: 46px;
}
.spesial-container {
  display: flex;
  margin-top: -115px;
  align-items: center;
  justify-content: space-between;
}

.container-item-footer {
}
.footer-cotainer {
  padding-top: 100px;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
  background-image: url(../images/footer-img.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.item-discount {
}

.discount-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.discount-text {
  font-size: 16px;
  line-height: 150%;
  color: #2c2c2c;
  width: 532px;
  margin-bottom: 24px;
}
.item-email {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  background-color: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  width: 395px;
  padding: 12px 57px 12px 12px;
  margin-right: 32px;
}

.button-form {
  background-color: #bbf330;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #bbf330;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
}
/** --------------footer--------------- */
.footer-menu {
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
}
.next-menu {
  font-size: 12px;
  line-height: 14px;
  color: #7eb101;
}
.subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
  margin-bottom: 12px;
}
.your-email {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  background-color: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  padding: 12px 61.5px 12px 12px;
  align-items: center;
  height: 42px;
  width: 100%;
}
.button-your-email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  border: 0.854px solid #7eb101;
  background: #fff;
  cursor: pointer;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
}
.info-policy {
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
}
.policy-main {
  margin-left: auto;
}
.link-policy {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7eb101;
}
.footer-form {
  margin-left: auto;
}
.form-container {
  display: flex;
  margin-bottom: 12px;
}
.policy-container-list {
  display: flex;
  gap: 20px;
  padding-bottom: 100px;
}
.next-menu {
  display: flex;
}
.footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 129px;
}
.ligo-image {
  margin-right: 148px;
}
.list-footer-menu {
  display: flex;
  gap: 28px;
}
.image-container {
  margin-left: 57px;
}
.image-list {
  display: flex;
  align-items: flex-end;
}
.image-item-list {
}
.drops-orange {
  position: relative;
}
.drops-center {
  position: absolute;
}
.orange-center {
  display: block;
}
