body {
  font-family: "Roboto", Bold, "Regular";
  background-color: #f5f5f5;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
  background-color: #fefefe;
}

.item-main-menu {
  display: flex;
  gap: 28px;
  padding: 20px 0;
}

.logo {
  margin-right: auto;
}

.nav {
  margin-right: 30px;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.item-menu {
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
}

.item-menu:hover,
.item-menu:focus {
  color: #bbf330;
}
.button-click {
  background-color: #bbf330;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #bbf330;
  width: 98px;
  height: 32px;
}

/** --------------section1 --------------- */

.main-section {
  max-height: 446px;
}
.made-img {
  position: relative;
}

.item-info {
  display: flex;
  background-color: #fefefe;
  min-height: 700px;
}

.enjoy-food {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #2c2c2c;
  margin-right: auto;
  margin-left: 16px;
  margin-bottom: 28px;
  width: 502.42px;
}
.text-info {
  font-size: 16px;
  line-height: 150%;
  color: #2c2c2c;
  text-align: center;
  width: 511px;
  margin-left: 16px;
  text-align: left;
}

.button-one {
  background-color: #bbf330;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #bbf330;
  width: 98px;
  height: 32px;
  margin-left: 16px;
  margin-top: 40px;
  display: block;
}
.container-text {
  margin-right: 129px;
  margin-top: 159px;
}

.img-yellow {
  position: absolute;
  top: 0;
  left: 0;
}
.img-breakfast {
  position: absolute;
  top: 27px;
  left: 26px;
}

/** --------------section2 --------------- */

.subscribe-container {
  position: relative;
  max-width: 1280px;
  height: 824px;
  padding: 0 16px;
  margin: 0 auto;
  background-image: url(../images/fonyellow.png);
  background-position: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: px;
}

.content-main {
}

.img-apple {
  margin-right: auto;
}

.about-our-list {
  display: flex;
  padding: 260px 51px 151px 16px;
}

.info-subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: #2c2c2c;
  width: 526.17px;
}
.info-delivery {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #2c2c2c;
  width: 500px;
}
.text-delivery {
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
  max-width: 253px;
}
.button-info {
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  cursor: pointer;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 22px 10px 22px;
}

.content-main {
}

/** --------------section3--------------- */

.favorites-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  color: #2c2c2c;
  text-align: center;
  padding-bottom: 20px;
}
.favorites-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2c2c2c;
  padding-bottom: 40px;
}

.pizza-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  justify-content: center;
  padding-bottom: 100px;
}
.gamburger-circle {
  position: relative;
}
.gamburger-photo {
  position: absolute;
  top: 42px;
  left: 42px;
}
.circle-yellow {
  display: block;
}
.li-pizza {
  width: calc((100% - 16px) / 3);
}
.favorites-container {
  padding-top: 81px;
  background-color: #fefefe;
}

/** --------------section4--------------- */

.item-feedback {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.feedback-info {
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
}

.section-feedback {
  height: 555px;
  display: flex;
}
.container-feedback-main {
  padding-top: 100px;
}

.feedback-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
  width: 473px;
  padding-top: 28px;
}
.feedback-people {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
.people-info {
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
.container-man {
  border: 2px solid #7eb101;
  width: 501px;
  height: 227px;
  background-color: #fefefe;
  border-radius: 5%;
  padding: 14px;
}

.header-svg-icon {
  fill: #ffe550;
}

.people-men {
  display: flex;
  gap: 16px;
  padding-top: 40px;
}

.text-cool {
  margin-bottom: auto;
  margin-top: auto;
}

.item-container-feedback {
  display: flex;
  gap: 139px;
  padding-top: 32px;
}

.feedback-item {
  background-image: url(../images/rectangle.jpg);
  background-position: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1280px;
  height: 647px;
  margin: 0 auto;
}

/** --------------section5--------------- */

.spesial-container {
  background-color: #fefefe;
  display: flex;
}

.container-item-footer {
  padding-top: 118px;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
  background-image: url(../images/footer-img.jpg);
  background-position: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1280px;
  height: 395px;
}
.item-discount {
  margin-bottom: 100px;
  margin-top: 50px;
}

.discount-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.discount-text {
  font-size: 16px;
  line-height: 150%;
  color: #2c2c2c;
  width: 532px;
  margin-bottom: 24px;
}
.item-email {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  background-color: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  width: 395px;
  padding: 12px 57px 12px 12px;
  margin-right: 32px;
}

.button-form {
  background-color: #bbf330;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #bbf330;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
}
/** --------------footer--------------- */
.footer-menu {
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
}
.next-menu {
  font-size: 12px;
  line-height: 14px;
  color: #7eb101;
}
.subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
  margin-bottom: 12px;
}
.your-email {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  background-color: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  padding: 12px 61.5px 12px 12px;
  align-items: center;
  height: 42px;
  width: 100%;
}
.button-your-email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  border: 0.854px solid #7eb101;
  background: #fff;
  cursor: pointer;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
}
.info-policy {
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
}
.policy-main {
  margin-left: auto;
}
.link-policy {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7eb101;
}
.footer-form {
  margin-left: auto;
}
.form-container {
  display: flex;
  margin-bottom: 12px;
}
.policy-container-list {
  display: flex;
  gap: 20px;
  margin-top: 129px;
}
.next-menu {
  display: flex;
}
.footer-item {
  display: flex;
  align-items: center;
}
.ligo-image {
  margin-right: 148px;
}
.list-footer-menu {
  display: flex;
  gap: 28px;
}
.image-container {
  margin-left: 57px;
}
.image-list {
  display: flex;
  align-items: flex-end;
}
.image-item-list {
}
.drops-orange {
  position: relative;
}
.drops-center {
  position: absolute;
}
.orange-center {
  display: block;
}
