body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.header-page {
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  background-color: #fefefe;
}

.item-main-menu {
  display: flex;
  gap: 28px;
  display: none;
}

.logo {
  margin-right: auto;
}

.nav {
  margin-right: 30px;
}

.item-menu {
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  padding: 28px 0;
  display: block;
}

.main-menu-mob {
}
.item-menu-mob {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-button {
  margin-left: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
.modal-mobail {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-mobail-item {
  position: fixed;
  min-width: 130px;
  min-height: 255px;
  z-index: 2;
  padding: 16px 44px 16px 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 30px 0px 30px 30px;
  background: var(--white, #fefefe);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  top: 0;
  right: 0;
}

.link-mob-menu:hover,
.link-mob-menu:focus {
  background: var(--button-green, #bbf330);
}

.close-modal {
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: absolute;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color var(--hover), border var(--hover);
}
.link-mob-menu {
  text-align: left;
}
.main-menu-mob {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.modal-button-open {
  stroke: #bbf330;
}
.item-menu:hover,
.item-menu:focus {
  color: #bbf330;
  font-weight: 700;
  text-decoration-line: underline;
}
.button-click {
  background-color: #bbf330;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #bbf330;
  width: 98px;
  height: 32px;
  display: none;
}

/** --------------section1 --------------- */

.main-section {
  padding: 60px 0;
}
.made-img {
  display: none;
}

.item-info {
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enjoy-food {
  color: #2c2c2c;
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  width: 280px;
  margin-bottom: 28px;
}

.button-one {
  background-color: #bbf330;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #bbf330;
  min-width: 98px;
  height: 32px;
  display: block;
}

/** --------------section2 --------------- */

.section-info {
  display: block;
}
.apple-img-mob {
  position: absolute;
  margin-top: -288px;
  margin-left: 41px;
  display: block;
}
.img-apple-dekstop {
  display: none;
}

.img-subscribe-wrap {
  display: none;
}
.wpapper-subscribe-mob {
  border-radius: 280px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  display: block;
  width: 280px;
  height: 280px;
}
.img-subscribe-mob {
  margin-top: 40px;
}
.subscrible-elipse-mob {
  width: 255px;
  height: 255px;
  border-radius: 502px;
  background: #fefefe;
  position: relative;
  display: block;
  margin-top: -309px;
  margin-left: 12px;
}

.subscrible-elipse {
  display: none;
}

.section-mobail {
  background-image: url(../images/fonyelloy-mob.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.apple-tablet-wan {
  display: none;
}

.subscribe-container {
  display: flex;
  align-items: center;
  padding: 40px 20px 0px 20px;
  flex-wrap: wrap;
}
.content-text {
  display: flex;
  gap: 24px;
  margin-bottom: 13px;
  flex-wrap: wrap;
}

.subscrible-icon-wrap {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.info-subscribe {
  color: #2c2c2c;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  width: 270px;
}

.text-info {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 32px;
  width: 280px;
}

.info-delivery {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #2c2c2c;
  margin-bottom: 40px;
}
.info-delivery-title {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.text-delivery {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
  max-width: 253px;
  margin-bottom: 28px;
}
.button-info {
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  cursor: pointer;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 22px 10px 22px;
  margin-bottom: 72px;
}

/** --------------section3--------------- */

.favorites-menu {
  color: #2c2c2c;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
  width: 280px;
}

.favorites-text-mobail {
  color: #2c2c2c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  width: 280px;
  display: block;
}

.favorites-text {
  display: none;
}

.pizza-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  justify-content: center;
}
.gamburger-circle {
  width: 395px;
  height: 397px;
  border-radius: 197.5px;
  border: 16px solid var(--yellow-main, #ffe550);
  background: var(--white, #fefefe);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamburger-photo {
}
.circle-yellow {
  display: block;
}
.li-pizza {
  width: calc((100% - 16px) / 3);
  display: none;
}
.favorites-container {
  background-color: #fefefe;
}
.favorites {
  padding-top: 60px;
  padding-bottom: 80px;
}

.li-pizza-mob {
  display: block;
}
.gamburger-circle-mob {
  width: 280px;
  height: 282px;
  border-radius: 139.658px;
  border: 11px solid #ffe550;
  background: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.gamburger-photo-mob {
}

/** --------------section4--------------- */
.section-feedback {
  background-image: url(../images/rectangle-mob.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 200px;
}
.img-banan-tablet{
  display: none;
}
.item-feedback {
  color: #2c2c2c;
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 20px;
}
.feedback-info {
  display: none;
}
.feedback-info-mob {
  color: #2c2c2c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
  display: block;
}

.feedback-text {
  color: #2c2c2c;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
  width: 264px;
}
.feedback-people {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
.people-info {
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
.container-man {
  width: 280px;
  background-color: #fefefe;
  border-radius: 5%;
  padding: 8px 8px 8px 8px;
}

.header-svg-icon {
  fill: #ffe550;
}

.people-men {
  display: flex;
  gap: 16px;
}

.text-cool {
  margin-bottom: auto;
  margin-top: auto;
}

.item-container-feedback {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.icon-star-list {
  display: flex;
  gap: 4px;
  margin-bottom: 28px;
}

/** --------------section5--------------- */
.img-banan-mob {
  display: block;
}
.img-banan {
  display: none;
}
.spesial-section {
  padding-bottom: 100px;
  padding-top: 46px;
}
.spesial-container {
  display: flex;
  margin-top: -92px;
  align-items: center;
  justify-content: space-between;
}

.discount-info {
  color: #2c2c2c;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
  margin-top: 17px;
}
.discount-text {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.item-email {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  background-color: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  width: 285px;
  padding: 12px 57px 12px 12px;
  margin-bottom: 20px;
}

.button-form {
  background-color: #bbf330;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #bbf330;
  padding: 11px 22px;
}
.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
/** --------------footer--------------- */
.footer-cotainer {
  background: #fefefe;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
  background-image: url(../images/footer-mob.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.container-item-footer {
  padding: 60px 20px 60px 20px;
}
.footer-nav {
  display: flex;
  justify-content: center;
}
.menu-footer-list {
  margin-bottom: 20px;
}
.footer-menu {
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
  text-align: center;
}

.subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
  margin-bottom: 12px;
}
.your-email {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  background-color: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  padding: 12px 61.5px 12px 12px;
  align-items: center;
  height: 42px;
  width: 100%;
  margin-bottom: 20px;
}
.button-your-email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  border-radius: 30px;
  border: 0.854px solid #7eb101;
  background: #fff;
  cursor: pointer;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
}
.info-policy {
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
  margin-bottom: 60px;
}

.link-policy {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7eb101;
}

.form-container {
  display: flex;
  margin-bottom: 12px;
  flex-wrap: wrap;
}
.policy-container-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.next-menu {
  color: #7eb101;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
}
.footer-item {
  margin-bottom: 0px;
}
.ligo-image {
  margin-right: 148px;
}
.list-footer-menu {
  /* display: flex;
  gap: 28px; */
}
.image-container {
  margin-left: 57px;
}
.image-list {
  display: flex;
  align-items: flex-end;
}
.image-item-list {
}
.drops-orange {
  position: relative;
}
.drops-center {
  position: absolute;
}
.orange-center {
  display: block;
}
.policu-footer-mob {
  margin-bottom: 0px;
}
/** --------------modal--------------- */

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  border-radius: 30px;
  background: #ffe550;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  min-height: 449px;
  min-width: 320px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 20px 32px 20px;
}

.icon-button {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.call-you-text {
  color: #2c2c2c;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-bottom: 20px;
}

.madal-input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  border-radius: 30px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2c2c2c;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.modal-label {
  color: #2c2c2c;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  display: inline block;
  margin-left: 14px;
  margin-bottom: 2px;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.input-icon {
  fill: transparent;
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 24px;
}

.madal-input:focus {
  border: 1px solid var(--dark-green, #7eb101);
}

.madal-input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.modal-send {
  min-width: 106px;
  height: 40px;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background-color: #ffffff;
  color: #2c2c2c;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-top: 8px;
}

.modal-send :hover,
.modal-send :focus {
  background-color: #bbf330;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  fill: transparent;
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
